<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aroma Bumi</title>
    <link rel="stylesheet" href="../CSS/detail/style.css" />
    <link rel="stylesheet" href="../CSS/detail/responsive.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css" />
  </head>
  <body>
    <header>
      <section class="logo-nav">
        <img src="../../image/Logo White.png" alt="" />
        <nav>
          <ul>
            <li><a href="">Products</a></li>
            <li><a href="">Store</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>
      </section>
    </header>
    <main>
      <section class="menu">
        <div class="feeds-container">
          <div class="feed">
            <img src="../image/butterscotch2.png" alt="" />
        </div>
          <div class="feed-price">
            <h2>Butterscotch</h2>
            <p>Smooth like butter like criminal undercover.</p>
            <h1>Rp.24.000,-</h1>
        </div>
        </div>
        <div class="description">
          <h2>Description</h2><hr>
          <p>Made with a perfect combination of freshly grinded arabica coffee beans, full cream milk,
            and exquisite butterscotch sauce. Perfect for those who crave little bit of sweet things
            in their life.</p>
        </div>
        <button class="description-btn"> < Back to our products</button>
    </section>
    </main>
    <footer>
      <div class="footer-left">
          <div class="logo">
            <img src="../image/Logo White.png" alt="" />
          </div>
          <div class="atr">
            <img src="../image/MAIL ICON.svg" alt="" class="mail-icon" />
            <img src="../image/PHONE ICON.svg" alt="" class="phone-icon" />
          </div>
        </div>
      <section class="footer-right">
          <div class="footer-product">
            <h3>Products</h3>
            <ul>
              <li><a href="">Coffee Based</a></li>
              <li><a href="">Non Coffee</a></li>
              <li><a href="">Tea Based</a></li>
            </ul>
          </div>
          <div class="footer-store">
            <h3>Location</h3>
            <ul>
              <li><a href="">Location</a></li>
            </ul>
          </div>
          <div class="footer-contact">
            <h3>Contact</h3>
            <ul>
              <li><a href="">Customer Service</a></li>
            </ul>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
